PORT=8080
DATABASE_URL=mongodb://localhost:27017/loginSystem
JWT_ACCESS_TOKEN_SECRET=your_jwt_access_token_secret_here
JWT_REFRESH_TOKEN_SECRET=your_jwt_refresh_token_secret_here
NODE_ENV=development
GOOGLE_CLIENT_ID=your_google_client_id_here
